# Logs & system files
*.log
.DS_Store
Thumbs.db

# Environment files
.env
.env.backup
.env.production

# IDE & Editor configs
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
.phpactor.json
.phpunit.result.cache

# NPM & vendor directories
/node_modules
/vendor

# Laravel specific ignored paths
/public/build
/public/hot

# Ignore entire storage by default
/storage/

# BUT allow storage/app to be tracked
!storage/app/
!storage/app/**

# Still ignore sensitive or unnecessary files inside storage
/storage/*.key
/storage/pail

# Homestead
Homestead.json
Homestead.yaml

# Composer authentication file
/auth.json
